/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */
@font-face {
	font-display: swap;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400 700;
	src:
		local('Inter-Variable'),
		url('../fonts/Inter-Variable.woff2') format('woff2')
}

@font-face {
	font-display: swap;
	font-family: 'PressStart2P';
	font-style: normal;
	font-weight: 400;
	src:
		local('PressStart2P'),
		url('../fonts/PressStart2P-Regular.woff') format('woff2')
}