/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-base);
  font-variation-settings: "wght" var(--font-base-weight);
  display: flex;
  justify-content: center;
}

.header {
  background-repeat: repeat;
  background-image: url('/images/background-image.png'), linear-gradient(to bottom, #E7E7E7, #1A1A1A);
  width: 1440px;
  height: 960px;
  display: flex;
  justify-content: center;
}

.header-text {
  width: 700px;
  height: 368px;
  border: #000 solid 2px;
  font-family: var(--font-accent);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #fff;
}

.header-text h1 {
  font-size: 65px;
}

.header-text h2 {
  font-weight: var(--font-accent-weight);
}
