/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-base);
  font-variation-settings: "wght" var(--font-base-weight);
}

.header {
  background-repeat: repeat;
  background-image: url('/images/background-image.png'), linear-gradient(to bottom, #E7E7E7, #1A1A1A);
  width: 1440px;
  height: 960px;
  display: flex;
  justify-content: center;
}

.header-text {
  width: 700px;
  height: 368px;
  border: #000 solid 2px;
  font-family: var(--font-accent);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #fff;
}

.header-text h1 {
  font-size: 65px;
}

.header-text h2 {
  font-weight: var(--font-accent-weight);
}

.main {
  position: absolute;
  top: 568px;
  left: 372px;
  right: 372px;
  background-color: #fff;
}

.card-article {
  border: #000 solid 2px;
}

.card-header {
  font-size: 18px;
  padding-left: 10px;
}

.card-img {
  border-top: #000 solid 2px;
  border-bottom: #000 solid 2px;
  width: 696px;
  height: 696px;
}

.card-paragraph {
  font-size: 18px;
  padding-left: 25px;
  line-height: 21px;
}

.card-paragraph:last-of-type {
  margin-top: 27px;
}

.reaction-buttons {
  display: flex;
  gap: 12px;
  justify-content: right;
  margin-right: 25px;
  margin-bottom: 25px;
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 90%;
}

.btn-reaction {
  background-color: transparent;
}

.btn-heart {
  border: none;
}

.btn-like {
  padding: 12.5px 37px;
}

.button__text {

}