/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font-base: 'Inter-Variable', 'Open Sans';
    --font-base-weight: 400;
    --font-base-header-weight: 400;
    --font-accent: 'PressStart2P';
}